version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      actions-deps:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/docker"
      - "/docker/mongodb"
      - "/docker/postgres"
    schedule:
      interval: "weekly"
      day: "monday"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      docker-deps:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      npm-deps:
        patterns:
          - "*"