GH_TOKEN=ghp_your_github_token_here
SLACK_WEBHOOK=your-slack-webhook-url-here
CLOUD_SERVICE_URL=https://your-cloud-service.example.com
CLOUD_SERVICE_TEMPLATE_ID=your-project-id
CLOUD_SERVICE_TOKEN=your-cloud-service-token
DEBUG=false
CI=
EXTERNAL_BASE_URL=https://hyperledger-identus.github.io/integration/
COMPONENT=
VERSION=
RUN_ID=
ENV=
