name: Run sdk-swift

on:
  workflow_call:
    inputs:
      env:
        type: string

permissions:
  contents: read

jobs:
  integration:
    name: "sdk-swift"
    runs-on: macos-latest
    env:
      ENV: ${{ inputs.ENV }}
      RUNNER: "sdk-swift"
      AGENT_URL: ${{ secrets.AGENT_URL }}
      MEDIATOR_OOB_URL: ${{ secrets.MEDIATOR_OOB_URL }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - name: Set xcode 16.2
        run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Execute sdk-swift
        run: npm run integration -- --runner sdk-swift

      - name: Upload partial allure-results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sdk-swift
          path: './tmp/sdk-swift'
