name: Run sdk-ts

on:
  workflow_call:
    inputs:
      env:
        type: string

permissions:
  contents: read

jobs:
  integration:
    name: "sdk-ts"
    runs-on: ubuntu-latest
    env:
      ENV: ${{ inputs.ENV }} # base64
      RUNNER: "sdk-ts"
      AGENT_URL: ${{ secrets.AGENT_URL }}
      MEDIATOR_OOB_URL: ${{ secrets.MEDIATOR_OOB_URL }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20

      - name: Install rust
        run: |
          URL="https://raw.githubusercontent.com/rust-lang/rustup/refs/tags/1.28.2/rustup-init.sh"
          EXPECTED_HASH="17247e4bcacf6027ec2e11c79a72c494c9af69ac8d1abcc1b271fa4375a106c2"
          curl -sSfL "$URL" -o rustup-init.sh
          echo "$EXPECTED_HASH rustup-init.sh" | sha256sum -c -
          sh rustup-init.sh -y

      - name: Install wasm-pack
        run: |
          URL="https://raw.githubusercontent.com/drager/wasm-pack/refs/tags/v0.13.1/docs/_installer/init.sh"
          EXPECTED_HASH="3e91ccfb5ca63dfd6761a3b7acbf6aca04be365e900468888e6615e79528a7cc"
          curl -sSfL "$URL" -o wasm-pack-init.sh
          echo "$EXPECTED_HASH wasm-pack-init.sh" | sha256sum -c -
          sh wasm-pack-init.sh -y

      - name: Install dependencies
        run: npm ci

      - name: Execute sdk-ts
        run: npm run integration -- --runner sdk-ts

      - name: Upload partial allure-results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sdk-ts
          path: './tmp/sdk-ts'
