name: Run sdk-kmp

on:
  workflow_call:
    inputs:
      env:
        type: string

permissions:
  contents: read

jobs:
  integration:
    name: "sdk-kmp"
    runs-on: ubuntu-latest
    env:
      ENV: ${{ inputs.ENV }} # base64
      RUNNER: "sdk-kmp"
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Execute sdk-kmp
        run: npm run integration -- --runner sdk-kmp

      - name: Upload partial allure-results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: sdk-kmp
          path: './tmp/sdk-kmp'
