name: Run sdk-ts

on:
  workflow_call:
    inputs:
      env:
        type: string

permissions:
  contents: read

jobs:
  integration:
    name: "sdk-ts"
    runs-on: ubuntu-latest
    env:
      ENV: ${{ inputs.ENV }} # base64
      RUNNER: "sdk-ts"
      AGENT_URL: ${{ secrets.AGENT_URL }}
      MEDIATOR_OOB_URL: ${{ secrets.MEDIATOR_OOB_URL }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 20

      - name: Install rust
        run: |
          URL="https://raw.githubusercontent.com/rust-lang/rustup/refs/tags/1.28.2/rustup-init.sh"
          EXPECTED_HASH="17247e4bcacf6027ec2e11c79a72c494c9af69ac8d1abcc1b271fa4375a106c2"
          curl -sSfL "$URL" -o rustup-init.sh
          echo "$EXPECTED_HASH rustup-init.sh" | sha256sum -c -
          sh rustup-init.sh -y

      - name: Install wasm-pack
        run: |
          URL="https://raw.githubusercontent.com/drager/wasm-pack/refs/tags/v0.13.1/docs/_installer/init.sh"
          EXPECTED_HASH="3e91ccfb5ca63dfd6761a3b7acbf6aca04be365e900468888e6615e79528a7cc"
          curl -sSfL "$URL" -o wasm-pack-init.sh
          echo "$EXPECTED_HASH wasm-pack-init.sh" | sha256sum -c -
          sh wasm-pack-init.sh -y

      - name: Install dependencies
        run: npm ci

      - name: Execute sdk-ts
        run: npm run integration -- --runner sdk-ts

      - name: Upload partial allure-results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sdk-ts
          path: './tmp/sdk-ts'
