name: Weekly

on:
  workflow_dispatch:
  schedule:
    - cron: 0 21 * * 6

permissions:
  contents: read

jobs:
  weekly:
    name: "Trigger 'weekly' integration"
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Dispatch integration
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          repository: hyperledger-identus/integration
          event-type: integration
          client-payload: '{"component": "weekly", "version": "" }'
