name: Weekly

on:
  workflow_dispatch:
  schedule:
    - cron: 0 21 * * 6

permissions:
  contents: write

jobs:
  weekly:
    name: "Trigger 'weekly' integration"
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Dispatch integration
        uses: peter-evans/repository-dispatch@ff45666b9427631e3450c54a1bcbee4d9ff4d7c0 # v3.0.0
        with:
          repository: hyperledger-identus/integration
          event-type: integration
          client-payload: '{"component": "weekly", "version": "" }'
